language: minimal

# make use of vm's
sudo: 'required'

# have the docker service set up (we'll
# update it later)
services:
- 'docker'

# prepare the machine before any code
# installation scripts
before_install:
- './.travis/main.sh'

before_script:
- if [[ "$TRAVIS_BRANCH" == "master" ]]; then
    docker login --username $DOCKER_USERNAME --password $DOCKER_PASSWORD;
  fi


# only execute the following instructions in
# the case of a success (failing at this point
# won't mark the build as a failure).
# To have `DOCKER_USERNAME` and `DOCKER_PASSWORD`
# filled you need to either use `.travis`' cli
# and then `.travis set ..` or go to the .travis
# page of your repository and then change the
# environment in the settings pannel.
after_success:

# first execute the test suite.
# after the test execution is done and didn't
# fail, build the images (if this step fails
# the whole Travis build is considered a failure).
script:

jobs:
  include:
  - stage: go1.11.2-builds-pubsub
    script: GOVERSION=1.11.2 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: GOVERSION=1.11.2 make build-base build-golang
  - script: GOVERSION=1.11.2 make build-base build-nodejs
  - script: GOVERSION=1.11.2 make build-base build-redis
  - script: GOVERSION=1.11.2 make build-base build-mongodb
  - script: GOVERSION=1.11.2 make build-base build-mariadb
  - script: GOVERSION=1.11.2 make build-base build-postgres
  - script: GOVERSION=1.11.2 make build-base build-kafka
  - script: GOVERSION=1.11.2 make build-base build-nats
  - script: GOVERSION=1.11.2 make build-base build-nats-streaming
  - stage: go1.11.1-builds-pubsub
    script: GOVERSION=1.11.1 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: GOVERSION=1.11.1 make build-base build-golang
  - script: GOVERSION=1.11.1 make build-base build-nodejs
  - script: GOVERSION=1.11.1 make build-base build-redis
  - script: GOVERSION=1.11.1 make build-base build-mongodb
  - script: GOVERSION=1.11.1 make build-base build-mariadb
  - script: GOVERSION=1.11.1 make build-base build-postgres
  - script: GOVERSION=1.11.1 make build-base build-kafka
  - script: GOVERSION=1.11.1 make build-base build-nats
  - script: GOVERSION=1.11.1 make build-base build-nats-streaming
  - stage: go1.10-builds-pubsub
    script: GOVERSION=1.10 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: GOVERSION=1.10 make build-base build-golang
  - script: GOVERSION=1.10 make build-base build-nodejs
  - script: GOVERSION=1.10 make build-base build-redis
  - script: GOVERSION=1.10 make build-base build-mongodb
  - script: GOVERSION=1.10 make build-base build-mariadb
  - script: GOVERSION=1.10 make build-base build-postgres
  - script: GOVERSION=1.10 make build-base build-kafka
  - script: GOVERSION=1.10 make build-base build-nats
  - script: GOVERSION=1.10 make build-base build-nats-streaming
  - stage: go1.9-builds-pubsub
    script: GOVERSION=1.9 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: GOVERSION=1.9 make build-base build-golang
  - script: GOVERSION=1.9 make build-base build-nodejs
  - script: GOVERSION=1.9 make build-base build-redis
  - script: GOVERSION=1.9 make build-base build-mongodb
  - script: GOVERSION=1.9 make build-base build-mariadb
  - script: GOVERSION=1.9 make build-base build-postgres
  - script: GOVERSION=1.9 make build-base build-kafka
  - script: GOVERSION=1.9 make build-base build-nats
  - script: GOVERSION=1.9 make build-base build-nats-streaming
  - stage: go1.8-builds-pubsub
    script: GOVERSION=1.8 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: GOVERSION=1.8 make build-base build-golang
  - script: GOVERSION=1.8 make build-base build-nodejs
  - script: GOVERSION=1.8 make build-base build-redis
  - script: GOVERSION=1.8 make build-base build-mongodb
  - script: GOVERSION=1.8 make build-base build-mariadb
  - script: GOVERSION=1.8 make build-base build-postgres
  - script: GOVERSION=1.8 make build-base build-kafka
  - script: GOVERSION=1.8 make build-base build-nats
  - script: GOVERSION=1.8 make build-base build-nats-streaming
  - stage: go1.7-builds-pubsub
    script: GOVERSION=1.7 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: GOVERSION=1.7 make build-base build-golang
  - script: GOVERSION=1.7 make build-base build-nodejs
  - script: GOVERSION=1.7 make build-base build-redis
  - script: GOVERSION=1.7 make build-base build-mongodb
  - script: GOVERSION=1.7 make build-base build-mariadb
  - script: GOVERSION=1.7 make build-base build-postgres
  - script: GOVERSION=1.7 make build-base build-kafka
  - script: GOVERSION=1.7 make build-base build-nats
  - script: GOVERSION=1.7 make build-base build-nats-streaming

# don't notify me when things fail
notifications:
