language: minimal

# make use of vm's
sudo: 'required'

# have the docker service set up (we'll
# update it later)
services:
- 'docker'

# prepare the machine before any code
# installation scripts
before_install:
- './.travis/main.sh'

before_script:
- if [[ "$TRAVIS_BRANCH" == "master" ]]; then
  docker login -u $DOCKER_USERNAME -p $DOCKER_PASSWORD ;
  fi


# only execute the following instructions in
# the case of a success (failing at this point
# won't mark the build as a failure).
# To have `DOCKER_USERNAME` and `DOCKER_PASSWORD`
# filled you need to either use `.travis`' cli
# and then `.travis set ..` or go to the .travis
# page of your repository and then change the
# environment in the settings pannel.
after_success:

# first execute the test suite.
# after the test execution is done and didn't
# fail, build the images (if this step fails
# the whole Travis build is considered a failure).
script:

jobs:
  include:
  - stage: go1.11.2-builds-pubsub
    - script: GOVERSION=1.11.2 COMPONENTS=pubsub-emulator make default
    - script: GOVERSION=1.11.1 COMPONENTS=pubsub-emulator make default
    - script: GOVERSION=1.10 COMPONENTS=pubsub-emulator make default
    - script: GOVERSION=1.9 COMPONENTS=pubsub-emulator make default
    - script: GOVERSION=1.8 COMPONENTS=pubsub-emulator make default
    - script: GOVERSION=1.7 COMPONENTS=pubsub-emulator make default
    - script: GOVERSION=1.6 COMPONENTS=pubsub-emulator make default
    - script: GOVERSION=1.5 COMPONENTSpubsub-emulator make default

# don't notify me when things fail
notifications:
