language: minimal

# make use of vm's
sudo: 'required'

# have the docker service set up (we'll
# update it later)
services:
- 'docker'

# prepare the machine before any code
# installation scripts
before_install:
- './.travis/main.sh'

before_script:
- export COMPONENTS='app-engine-go cbt bigtable datalab cloud-datastore-emulator gcd-emulator cloud-firestore-emulator pubsub-emulator cloud_sql_proxy emulator-reverse-proxy cloud-build-local docker-credential-gcr kubectl'
- export GOVERSION='1.11.4 1.11.3 1.11.2 1.11.1 1.11 1.10.7 1.10.6 1.9.7 1.9 1.8.7 1.7.6 1.6.4 1.5.4'
- if [[ "$TRAVIS_BRANCH" == "master" ]]; then
    docker login --username $DOCKER_USERNAME --password $DOCKER_PASSWORD;
  fi


# only execute the following instructions in
# the case of a success (failing at this point
# won't mark the build as a failure).
# To have `DOCKER_USERNAME` and `DOCKER_PASSWORD`
# filled you need to either use `.travis`' cli
# and then `.travis set ..` or go to the .travis
# page of your repository and then change the
# environment in the settings pannel.
after_success:

# first execute the test suite.
# after the test execution is done and didn't
# fail, build the images (if this step fails
# the whole Travis build is considered a failure).
script:

jobs:
  include:
  - stage: go1.11.4-builds-alpine-pubsub
    script: BASE=alpine DIR=alpine GOVERSION=1.11.4 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=alpine DIR=alpine GOVERSION=1.11.4 make build-base build-golang
  - script: BASE=alpine DIR=alpine GOVERSION=1.11.4 make build-base build-nodejs
  - script: BASE=alpine DIR=alpine GOVERSION=1.11.4 make build-base build-redis
  - script: BASE=alpine DIR=alpine GOVERSION=1.11.4 make build-base build-mongodb
  - script: BASE=alpine DIR=alpine GOVERSION=1.11.4 make build-base build-mariadb
  - script: BASE=alpine DIR=alpine GOVERSION=1.11.4 make build-base build-postgres
  - script: BASE=alpine DIR=alpine GOVERSION=1.11.4 make build-base build-kafka
  - script: BASE=alpine DIR=alpine GOVERSION=1.11.4 make build-base build-nats
  - script: BASE=alpine DIR=alpine GOVERSION=1.11.4 make build-base build-nats-streaming
  - stage: go1.11.4-builds-debian-pubsub
    script: BASE=debian DIR=debian GOVERSION=1.11.4 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=debian DIR=debian GOVERSION=1.11.4 make build-base build-golang
  - script: BASE=debian DIR=debian GOVERSION=1.11.4 make build-base build-nodejs
  - script: BASE=debian DIR=debian GOVERSION=1.11.4 make build-base build-redis
  - script: BASE=debian DIR=debian GOVERSION=1.11.4 make build-base build-mongodb
  - script: BASE=debian DIR=debian GOVERSION=1.11.4 make build-base build-mariadb
  - script: BASE=debian DIR=debian GOVERSION=1.11.4 make build-base build-postgres
  - script: BASE=debian DIR=debian GOVERSION=1.11.4 make build-base build-kafka
  - script: BASE=debian DIR=debian GOVERSION=1.11.4 make build-base build-nats
  - script: BASE=debian DIR=debian GOVERSION=1.11.4 make build-base build-nats-streaming
  - stage: go1.11-builds-alpine-pubsub
    script: BASE=alpine DIR=alpine GOVERSION=1.11 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=alpine DIR=alpine GOVERSION=1.11 make build-base build-golang
  - script: BASE=alpine DIR=alpine GOVERSION=1.11 make build-base build-nodejs
  - script: BASE=alpine DIR=alpine GOVERSION=1.11 make build-base build-redis
  - script: BASE=alpine DIR=alpine GOVERSION=1.11 make build-base build-mongodb
  - script: BASE=alpine DIR=alpine GOVERSION=1.11 make build-base build-mariadb
  - script: BASE=alpine DIR=alpine GOVERSION=1.11 make build-base build-postgres
  - script: BASE=alpine DIR=alpine GOVERSION=1.11 make build-base build-kafka
  - script: BASE=alpine DIR=alpine GOVERSION=1.11 make build-base build-nats
  - script: BASE=alpine DIR=alpine GOVERSION=1.11 make build-base build-nats-streaming
  - stage: go1.10.7-builds-alpine-pubsub
    script: BASE=alpine DIR=alpine GOVERSION=1.10.7 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=alpine DIR=alpine GOVERSION=1.10.7 make build-base build-golang
  - script: BASE=alpine DIR=alpine GOVERSION=1.10.7 make build-base build-nodejs
  - script: BASE=alpine DIR=alpine GOVERSION=1.10.7 make build-base build-redis
  - script: BASE=alpine DIR=alpine GOVERSION=1.10.7 make build-base build-mongodb
  - script: BASE=alpine DIR=alpine GOVERSION=1.10.7 make build-base build-mariadb
  - script: BASE=alpine DIR=alpine GOVERSION=1.10.7 make build-base build-postgres
  - script: BASE=alpine DIR=alpine GOVERSION=1.10.7 make build-base build-kafka
  - script: BASE=alpine DIR=alpine GOVERSION=1.10.7 make build-base build-nats
  - script: BASE=alpine DIR=alpine GOVERSION=1.10.7 make build-base build-nats-streaming
  - stage: go1.10-builds-alpine-pubsub
    script: BASE=alpine DIR=alpine GOVERSION=1.10 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=alpine DIR=alpine GOVERSION=1.10 make build-base build-golang
  - script: BASE=alpine DIR=alpine GOVERSION=1.10 make build-base build-nodejs
  - script: BASE=alpine DIR=alpine GOVERSION=1.10 make build-base build-redis
  - script: BASE=alpine DIR=alpine GOVERSION=1.10 make build-base build-mongodb
  - script: BASE=alpine DIR=alpine GOVERSION=1.10 make build-base build-mariadb
  - script: BASE=alpine DIR=alpine GOVERSION=1.10 make build-base build-postgres
  - script: BASE=alpine DIR=alpine GOVERSION=1.10 make build-base build-kafka
  - script: BASE=alpine DIR=alpine GOVERSION=1.10 make build-base build-nats
  - script: BASE=alpine DIR=alpine GOVERSION=1.10 make build-base build-nats-streaming
  - stage: go1.9.7-builds-alpine-pubsub
    script: BASE=alpine DIR=alpine GOVERSION=1.9.7 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=alpine DIR=alpine GOVERSION=1.9.7 make build-base build-golang
  - script: BASE=alpine DIR=alpine GOVERSION=1.9.7 make build-base build-nodejs
  - script: BASE=alpine DIR=alpine GOVERSION=1.9.7 make build-base build-redis
  - script: BASE=alpine DIR=alpine GOVERSION=1.9.7 make build-base build-mongodb
  - script: BASE=alpine DIR=alpine GOVERSION=1.9.7 make build-base build-mariadb
  - script: BASE=alpine DIR=alpine GOVERSION=1.9.7 make build-base build-postgres
  - script: BASE=alpine DIR=alpine GOVERSION=1.9.7 make build-base build-kafka
  - script: BASE=alpine DIR=alpine GOVERSION=1.9.7 make build-base build-nats
  - script: BASE=alpine DIR=alpine GOVERSION=1.9.7 make build-base build-nats-streaming
  - stage: go1.9-builds-alpine-pubsub
    script: BASE=alpine DIR=alpine GOVERSION=1.9 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=alpine DIR=alpine GOVERSION=1.9 make build-base build-golang
  - script: BASE=alpine DIR=alpine GOVERSION=1.9 make build-base build-nodejs
  - script: BASE=alpine DIR=alpine GOVERSION=1.9 make build-base build-redis
  - script: BASE=alpine DIR=alpine GOVERSION=1.9 make build-base build-mongodb
  - script: BASE=alpine DIR=alpine GOVERSION=1.9 make build-base build-mariadb
  - script: BASE=alpine DIR=alpine GOVERSION=1.9 make build-base build-postgres
  - script: BASE=alpine DIR=alpine GOVERSION=1.9 make build-base build-kafka
  - script: BASE=alpine DIR=alpine GOVERSION=1.9 make build-base build-nats
  - script: BASE=alpine DIR=alpine GOVERSION=1.9 make build-base build-nats-streaming
  - stage: go1.8.7-builds-alpine-pubsub
    script: BASE=alpine DIR=alpine GOVERSION=1.8.7 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=alpine DIR=alpine GOVERSION=1.8.7 make build-base build-golang
  - script: BASE=alpine DIR=alpine GOVERSION=1.8.7 make build-base build-nodejs
  - script: BASE=alpine DIR=alpine GOVERSION=1.8.7 make build-base build-redis
  - script: BASE=alpine DIR=alpine GOVERSION=1.8.7 make build-base build-mongodb
  - script: BASE=alpine DIR=alpine GOVERSION=1.8.7 make build-base build-mariadb
  - script: BASE=alpine DIR=alpine GOVERSION=1.8.7 make build-base build-postgres
  - script: BASE=alpine DIR=alpine GOVERSION=1.8.7 make build-base build-kafka
  - script: BASE=alpine DIR=alpine GOVERSION=1.8.7 make build-base build-nats
  - script: BASE=alpine DIR=alpine GOVERSION=1.8.7 make build-base build-nats-streaming
  - stage: go1.8-builds-alpine-pubsub
    script: BASE=alpine DIR=alpine GOVERSION=1.8 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=alpine DIR=alpine GOVERSION=1.8 make build-base build-golang
  - script: BASE=alpine DIR=alpine GOVERSION=1.8 make build-base build-nodejs
  - script: BASE=alpine DIR=alpine GOVERSION=1.8 make build-base build-redis
  - script: BASE=alpine DIR=alpine GOVERSION=1.8 make build-base build-mongodb
  - script: BASE=alpine DIR=alpine GOVERSION=1.8 make build-base build-mariadb
  - script: BASE=alpine DIR=alpine GOVERSION=1.8 make build-base build-postgres
  - script: BASE=alpine DIR=alpine GOVERSION=1.8 make build-base build-kafka
  - script: BASE=alpine DIR=alpine GOVERSION=1.8 make build-base build-nats
  - script: BASE=alpine DIR=alpine GOVERSION=1.8 make build-base build-nats-streaming
  - stage: go1.7.6-builds-alpine-pubsub
    script: BASE=alpine DIR=alpine GOVERSION=1.7.6 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=alpine DIR=alpine GOVERSION=1.7.6 make build-base build-golang
  - script: BASE=alpine DIR=alpine GOVERSION=1.7.6 make build-base build-nodejs
  - script: BASE=alpine DIR=alpine GOVERSION=1.7.6 make build-base build-redis
  - script: BASE=alpine DIR=alpine GOVERSION=1.7.6 make build-base build-mongodb
  - script: BASE=alpine DIR=alpine GOVERSION=1.7.6 make build-base build-mariadb
  - script: BASE=alpine DIR=alpine GOVERSION=1.7.6 make build-base build-postgres
  - script: BASE=alpine DIR=alpine GOVERSION=1.7.6 make build-base build-kafka
  - script: BASE=alpine DIR=alpine GOVERSION=1.7.6 make build-base build-nats
  - script: BASE=alpine DIR=alpine GOVERSION=1.7.6 make build-base build-nats-streaming
  - stage: go1.7-builds-alpine-pubsub
    script: BASE=alpine DIR=alpine GOVERSION=1.7 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=alpine DIR=alpine GOVERSION=1.7 make build-base build-golang
  - script: BASE=alpine DIR=alpine GOVERSION=1.7 make build-base build-nodejs
  - script: BASE=alpine DIR=alpine GOVERSION=1.7 make build-base build-redis
  - script: BASE=alpine DIR=alpine GOVERSION=1.7 make build-base build-mongodb
  - script: BASE=alpine DIR=alpine GOVERSION=1.7 make build-base build-mariadb
  - script: BASE=alpine DIR=alpine GOVERSION=1.7 make build-base build-postgres
  - script: BASE=alpine DIR=alpine GOVERSION=1.7 make build-base build-kafka
  - script: BASE=alpine DIR=alpine GOVERSION=1.7 make build-base build-nats
  - script: BASE=alpine DIR=alpine GOVERSION=1.7 make build-base build-nats-streaming
  - stage: go1.11-builds-debian-pubsub
    script: BASE=debian DIR=debian GOVERSION=1.11 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=debian DIR=debian GOVERSION=1.11 make build-base build-golang
  - script: BASE=debian DIR=debian GOVERSION=1.11 make build-base build-nodejs
  - script: BASE=debian DIR=debian GOVERSION=1.11 make build-base build-redis
  - script: BASE=debian DIR=debian GOVERSION=1.11 make build-base build-mongodb
  - script: BASE=debian DIR=debian GOVERSION=1.11 make build-base build-mariadb
  - script: BASE=debian DIR=debian GOVERSION=1.11 make build-base build-postgres
  - script: BASE=debian DIR=debian GOVERSION=1.11 make build-base build-kafka
  - script: BASE=debian DIR=debian GOVERSION=1.11 make build-base build-nats
  - script: BASE=debian DIR=debian GOVERSION=1.11 make build-base build-nats-streaming
  - stage: go1.10.7-builds-debian-pubsub
    script: BASE=debian DIR=debian GOVERSION=1.10.7 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=debian DIR=debian GOVERSION=1.10.7 make build-base build-golang
  - script: BASE=debian DIR=debian GOVERSION=1.10.7 make build-base build-nodejs
  - script: BASE=debian DIR=debian GOVERSION=1.10.7 make build-base build-redis
  - script: BASE=debian DIR=debian GOVERSION=1.10.7 make build-base build-mongodb
  - script: BASE=debian DIR=debian GOVERSION=1.10.7 make build-base build-mariadb
  - script: BASE=debian DIR=debian GOVERSION=1.10.7 make build-base build-postgres
  - script: BASE=debian DIR=debian GOVERSION=1.10.7 make build-base build-kafka
  - script: BASE=debian DIR=debian GOVERSION=1.10.7 make build-base build-nats
  - script: BASE=debian DIR=debian GOVERSION=1.10.7 make build-base build-nats-streaming
  - stage: go1.10-builds-debian-pubsub
    script: BASE=debian DIR=debian GOVERSION=1.10 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=debian DIR=debian GOVERSION=1.10 make build-base build-golang
  - script: BASE=debian DIR=debian GOVERSION=1.10 make build-base build-nodejs
  - script: BASE=debian DIR=debian GOVERSION=1.10 make build-base build-redis
  - script: BASE=debian DIR=debian GOVERSION=1.10 make build-base build-mongodb
  - script: BASE=debian DIR=debian GOVERSION=1.10 make build-base build-mariadb
  - script: BASE=debian DIR=debian GOVERSION=1.10 make build-base build-postgres
  - script: BASE=debian DIR=debian GOVERSION=1.10 make build-base build-kafka
  - script: BASE=debian DIR=debian GOVERSION=1.10 make build-base build-nats
  - script: BASE=debian DIR=debian GOVERSION=1.10 make build-base build-nats-streaming
  - stage: go1.9.7-builds-debian-pubsub
    script: BASE=debian DIR=debian GOVERSION=1.9.7 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=debian DIR=debian GOVERSION=1.9.7 make build-base build-golang
  - script: BASE=debian DIR=debian GOVERSION=1.9.7 make build-base build-nodejs
  - script: BASE=debian DIR=debian GOVERSION=1.9.7 make build-base build-redis
  - script: BASE=debian DIR=debian GOVERSION=1.9.7 make build-base build-mongodb
  - script: BASE=debian DIR=debian GOVERSION=1.9.7 make build-base build-mariadb
  - script: BASE=debian DIR=debian GOVERSION=1.9.7 make build-base build-postgres
  - script: BASE=debian DIR=debian GOVERSION=1.9.7 make build-base build-kafka
  - script: BASE=debian DIR=debian GOVERSION=1.9.7 make build-base build-nats
  - script: BASE=debian DIR=debian GOVERSION=1.9.7 make build-base build-nats-streaming
  - stage: go1.9-builds-debian-pubsub
    script: BASE=debian DIR=debian GOVERSION=1.9 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=debian DIR=debian GOVERSION=1.9 make build-base build-golang
  - script: BASE=debian DIR=debian GOVERSION=1.9 make build-base build-nodejs
  - script: BASE=debian DIR=debian GOVERSION=1.9 make build-base build-redis
  - script: BASE=debian DIR=debian GOVERSION=1.9 make build-base build-mongodb
  - script: BASE=debian DIR=debian GOVERSION=1.9 make build-base build-mariadb
  - script: BASE=debian DIR=debian GOVERSION=1.9 make build-base build-postgres
  - script: BASE=debian DIR=debian GOVERSION=1.9 make build-base build-kafka
  - script: BASE=debian DIR=debian GOVERSION=1.9 make build-base build-nats
  - script: BASE=debian DIR=debian GOVERSION=1.9 make build-base build-nats-streaming
  - stage: go1.8.7-builds-debian-pubsub
    script: BASE=debian DIR=debian GOVERSION=1.8.7 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=debian DIR=debian GOVERSION=1.8.7 make build-base build-golang
  - script: BASE=debian DIR=debian GOVERSION=1.8.7 make build-base build-nodejs
  - script: BASE=debian DIR=debian GOVERSION=1.8.7 make build-base build-redis
  - script: BASE=debian DIR=debian GOVERSION=1.8.7 make build-base build-mongodb
  - script: BASE=debian DIR=debian GOVERSION=1.8.7 make build-base build-mariadb
  - script: BASE=debian DIR=debian GOVERSION=1.8.7 make build-base build-postgres
  - script: BASE=debian DIR=debian GOVERSION=1.8.7 make build-base build-kafka
  - script: BASE=debian DIR=debian GOVERSION=1.8.7 make build-base build-nats
  - script: BASE=debian DIR=debian GOVERSION=1.8.7 make build-base build-nats-streaming
  - stage: go1.8-builds-debian-pubsub
    script: BASE=debian DIR=debian GOVERSION=1.8 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=debian DIR=debian GOVERSION=1.8 make build-base build-golang
  - script: BASE=debian DIR=debian GOVERSION=1.8 make build-base build-nodejs
  - script: BASE=debian DIR=debian GOVERSION=1.8 make build-base build-redis
  - script: BASE=debian DIR=debian GOVERSION=1.8 make build-base build-mongodb
  - script: BASE=debian DIR=debian GOVERSION=1.8 make build-base build-mariadb
  - script: BASE=debian DIR=debian GOVERSION=1.8 make build-base build-postgres
  - script: BASE=debian DIR=debian GOVERSION=1.8 make build-base build-kafka
  - script: BASE=debian DIR=debian GOVERSION=1.8 make build-base build-nats
  - script: BASE=debian DIR=debian GOVERSION=1.8 make build-base build-nats-streaming
  - stage: go1.7.6-builds-debian-pubsub
    script: BASE=debian DIR=debian GOVERSION=1.7.6 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=debian DIR=debian GOVERSION=1.7.6 make build-base build-golang
  - script: BASE=debian DIR=debian GOVERSION=1.7.6 make build-base build-nodejs
  - script: BASE=debian DIR=debian GOVERSION=1.7.6 make build-base build-redis
  - script: BASE=debian DIR=debian GOVERSION=1.7.6 make build-base build-mongodb
  - script: BASE=debian DIR=debian GOVERSION=1.7.6 make build-base build-mariadb
  - script: BASE=debian DIR=debian GOVERSION=1.7.6 make build-base build-postgres
  - script: BASE=debian DIR=debian GOVERSION=1.7.6 make build-base build-kafka
  - script: BASE=debian DIR=debian GOVERSION=1.7.6 make build-base build-nats
  - script: BASE=debian DIR=debian GOVERSION=1.7.6 make build-base build-nats-streaming
  - stage: go1.7-builds-debian-pubsub
    script: BASE=debian DIR=debian GOVERSION=1.7 COMPONENTS=pubsub-emulator make build-base build-gcloud
  - script: BASE=debian DIR=debian GOVERSION=1.7 make build-base build-golang
  - script: BASE=debian DIR=debian GOVERSION=1.7 make build-base build-nodejs
  - script: BASE=debian DIR=debian GOVERSION=1.7 make build-base build-redis
  - script: BASE=debian DIR=debian GOVERSION=1.7 make build-base build-mongodb
  - script: BASE=debian DIR=debian GOVERSION=1.7 make build-base build-mariadb
  - script: BASE=debian DIR=debian GOVERSION=1.7 make build-base build-postgres
  - script: BASE=debian DIR=debian GOVERSION=1.7 make build-base build-kafka
  - script: BASE=debian DIR=debian GOVERSION=1.7 make build-base build-nats
  - script: BASE=debian DIR=debian GOVERSION=1.7 make build-base build-nats-streaming

# don't notify me when things fail
notifications:
