[mysqld]
user            = root
port            = 3306
bind-address    = 0.0.0.0
basedir         = /usr
datadir         = /data
log-bin         = /data/logs/mysql-logs.bin
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock